.references-page {
  .main-section {
    background: #F1F6FC;
    text-align: center;
  }

  .before-after-section {
    position: relative;

    h2 {
      text-align: center;
      font-weight: bold;
      font-size: 52px;
      line-height: 60px;
      margin-bottom: 60px;
    }

    &:after {
      content: unset;
    }
  }

  .reference-gallery-section {
    .gallery {
      display: flex;
      flex-wrap: wrap;

      a {
        flex: 0 0 calc(33% - 30px);
        max-width: 32%;
        margin: 15px;
      }

      img {
        object-fit: cover;
        object-position: center;
        //border-radius: 10px;
        height: 340px;
        width: 100%;

      }
    }
  }
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object {
  min-height: 60vh;
}

@media (max-width: 768px) {
  .references-page {
    section.reference-gallery-section {
      .gallery {
        a {
          flex: 1 0 calc(49% - 10px);
          margin: 5px;
          width: calc(49% - 10px);
          max-width: 49%;
        }
      }
    }
  }
}