.services-section {

  .row:not(.row:nth-of-type(2)) {
    justify-content: center;
    text-align: center;
    padding: 0 20%;

    h2 {
      font-weight: 700;
      font-size: 42px;
      line-height: 62px;
      margin-bottom: 30px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
  }

  .row:nth-of-type(2) {
    margin: 60px 0;
  }

  .service {
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    background-blend-mode: multiply;

    span {
      text-shadow: 0 0 5px #212529;
    }

    svg {
      margin-left: 10px;
      margin-right: 10px;
      transition: all .5s;
    }

    &:hover {
      color: $green;

      svg {
        margin-right: 0;
        margin-left: 20px;

        path {
          stroke: $green;
        }
      }
    }
  }
}

.before-after-section {
  position: relative;

  h2 {
    text-align: center;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 58%;
    width: 100%;
    background: $green;
    z-index: -1;
  }

  .row {
    justify-content: space-between;
  }

  .beer-slider {
    border-radius: 20px;
    margin: 10px 5px;
  }

  .beer-handle {
    background: #fff;
    transform: translate3d(-56%, -50%, 0);
    height: 60px;
    width: 60px;
  }

  .beer-reveal {
    border-right: 8px solid white;
  }
}


.main-section {
  background-blend-mode: multiply;
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}

.color-picker-section {
  #container {
    position: relative;
  }

  #Siding-svg {
    position: relative;
    z-index: 2;
    mix-blend-mode: multiply;
  }
.modal{
  top: 1%;
}
  .modal-content {
    border-radius: 20px !important;
    padding: 40px 20px !important;
  }

  .info-button svg {
    width: 20px;
    height: 20px;
  }

  .modal-title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
  }

  .modal-header {
    text-align: center !important;
    display: block !important;
    border: 0 !important;

    .close-btn{
      position: absolute;
      top: 20px;
      right: 20px;
      background: none;
      border: none;
    }
  }

  .info-text {
    margin-left: 15px;
    margin-top: -1px;
  }

  .popover .popover-arrow {
    margin: 0 !important;
  }

  .chosen-colors-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
  }

  .popover {
    border: 0 !important;
  }

  .popover-body {
    background: #FFFFFF;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.14);
    border-radius: 10px !important;
    border: 1px solid #ffffff !important;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
  }

  .bs-popover-auto[data-popper-placement^=top] > .popover-arrow::before,
  .bs-popover-top > .popover-arrow::before {
    border: 0 !important;
  }

  input,
  textarea {
    background-color: #F4F4F4 !important;
    border: 1px solid #F4F4F4 !important;
  }

  input::placeholder,
  textarea::placeholder {
    font-family: Helvetica !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #B7B7B7 !important;
  }

  .modal-dialog {
    max-width: 816px !important;
  }

  #Siding-shape {
    fill: transparent;
  }

  #Trim-svg {
    position: relative;
    z-index: 2;
    mix-blend-mode: multiply;
  }

  .info-button {
    background-color: transparent !important;
    color: black !important;
    padding: 0 !important;
    border: 0 !important;
  }

  #Trim-shape,
  #Trim-shape-one {
    fill: transparent;
  }

  .view-final-home {
    background: $green !important;
    border-radius: 90px !important;
    padding: 22px 30px !important;
    font-family: Helvetica !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: black !important;
    text-transform: uppercase !important;
  }

  #color--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    z-index: 1;
  }

  .colors {
    bottom: 2em;
    right: 2em;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .colors .active .checkmark {
    visibility: visible;
  }

  .colors .active-class .checkmark {
    visibility: visible;
  }

  .nav-link {
    font-style: normal;
    font-weight: bold;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    text-align: center;
    border-radius: 6px 0px 0px 6px !important;
    font-size: 18px;
    line-height: 21px;
  }

  .nav-item > .active {
    background: #000000 !important;
    color: #ffffff;
    border-radius: 6px 0px 0px 6px !important;
  }

  .nav-item > .border-tab {
    border-radius: 0px 6px 6px 0px !important;
  }

  .color {
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    height: 70px;
    flex: 0 0 22%;
    color: #ffffff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .color > div {
    position: absolute;
    top: 10px;
  }

  .building {
    display: flex;
    z-index: 3;
  }

  .section {
    cursor: pointer;
    /* padding: 20px 80px !important; */
    border-radius: 6px 0px 0px 6px;
    border: 2px solid #000000;
  }

  .nav-link {
    color: black;
    font-size: 16px !important;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
  }

  ul li {
    width: 50%;
  }

  .checkmark {
    visibility: hidden;
    position: absolute;
    top: 5px;
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  .checkmark img {
    width: 20px;
  }

  .checkmark_circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 11px;
    left: 0;
    top: 0;
  }

  .checkmark_stem {
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: #000000;
    left: 11px;
    top: 6px;
  }

  .checkmark_kick {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #000000;
    left: 8px;
    top: 12px;
  }

  .roofColor,
  .wallColor {
    height: 200px;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    position: relative;

  }

  .wallColor p,
  .roofColor p {
    position: absolute;
    bottom: -45px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    transform: translate(-50%, -50%);
    left: 50%;
    margin: 0;
    width: 62%;
  }

  .modal-footer {
    justify-content: center !important;
    border: 0 !important;
  }

  .final-home {
    position: relative !important;
    width: 100% !important;
  }

  @media only screen and (max-width: 992px) {
    #color--img {
      width: 100%;
    }

    #Siding-svg {
      width: 107%;
    }

    .home-colors {
      flex-flow: column-reverse;
    }

    .colors {
      flex-wrap: unset;
      width: 100%;
      overflow-x: scroll;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    }

    .color {
      flex: 0 0 21%;
      font-size: 11px;
    }

    .nav-link {
      padding-bottom: 10px !important;
      padding-top: 10px !important;
    }
  }

  @media only screen and (max-width: 1440px) {
    .color {
      flex: 0 0 22%;
      font-size: 11px;
    }
  }
}


.bottom-part {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: url("data:image/svg+xml,%0A%3Csvg width='1440' height='153' viewBox='0 0 1440 153' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1440 18.9331C1440 18.9331 1108.46 61.5327 867.35 18.9331C626.24 -23.6664 378.42 18.9331 378.42 18.9331C378.42 18.9331 155.16 55.076 0 18.9331V152.003H1440V18.9331Z' fill='%23CEFF43'/%3E%3C/svg%3E%0A");

  font-family: 'Mak';
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  line-height: 38px;
  color: #000;

  span{
    margin-top: 40px;
  }
}