@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");
@import "bootstrap.min.css";
@import "swiper.min.css";
@import "_responsive.scss";
@import "_variables.scss";
@import "hompepage.scss";
@import "aboutus.scss";
@import "contactpage.scss";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.module {
  opacity: 0.1;
}

.module-ready {
  transition: all 1s;
  opacity: 1;
  &:nth-child(odd) {
    transition: all 1.5s;
    opacity: 1;
  }
}

img {
  max-width: 100%;
}

.section {
  position: relative;
}

.section-padding {
  padding: 50px 0;
}
