@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");
@import "_variables.scss";
@import "_elements.scss";
@import "bootstrap.min.css";
@import "swiper.min.css";
@import "lightgallery";
@import "_responsive.scss";
@import "hompepage.scss";
@import "aboutus.scss";
@import "contactpage.scss";
@import "references";
@import "services";
@import "takvaljaren";
@import "reusables";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", sans-serif;
}

.module {
  opacity: 0.1;
}

.module-ready {
  transition: all 1s;
  opacity: 1;

  &:nth-child(odd) {
    transition: all 1.5s;
    opacity: 1;
  }
}

img {
  max-width: 100%;
}

.section {
  position: relative;
}

.section-padding {
  padding: 60px 0;
}

.section-big-padding {
  padding: 80px 0;
}

header {
  nav.navbar {
    height: 100px;
    background: #000;
    color: #fff;

    .navbar-brand {
      margin-right: 50px;
      padding-right: 50px;
      border-right: 1px solid #fff;
    }

    .navbar-nav {
      .menu {

        padding: 0;
        display: flex;

        li {
          list-style: none;
          margin: 0 10px;

          a {
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
            font-weight: 700;

            &:hover{
              color: $green;
              opacity: 1;
            }
          }
        }

      }
    }

    .right-part {
      display: flex;
      align-items: center;

      .call-btn {
        color: #fff;
        margin-right: 40px;

        &:hover{
          color: $green;
          opacity: 1;

          svg path{
            stroke: $green;
          }
        }
      }
    }
  }

  &.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    nav.navbar {
      background: transparent;
    }
  }
}

footer {
  padding: 60px 0;

  .row:first-of-type {
    margin-bottom: 60px;
  }

  .row.ft-last {
    margin-top: 40px;

    .col-md-6:first-of-type {
      color: #B7B7B7;
    }

    .col-md-6:nth-of-type(2) {
      span {
        float: right;
      }

      a {
        color: #000;
      }
    }
  }

  .ft-col {
    display: flex;
    flex-direction: column;

    .ft-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    span:not(.ft-title), a {
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
    }

    .menu {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #000;
        }
      }
    }
  }

  .ft-flex {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
  }
}

.instagram-slider {
  min-height: 400px;
  position: relative;
  overflow: hidden;

  span {
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
  }
a{
  &:hover{
    opacity: 1;
    color: #000;
  }
}
  .img-holder {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%) translateX(25%);

    .img-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      background: linear-gradient(179.9deg, #CEFF43 0.09%, rgba(206, 255, 67, 0) 99.91%);
      //border-radius: 10px;
      margin-right: 10px;

      img {
        height: 290px;
        width: 290px;
        mix-blend-mode: multiply;
      }

      &:after {
       content: '';
       opacity: 1;
       height: 60px;
       width: 60px;
       position: absolute;
       top: 50%;
       left: 50%;
       background-image: url("data:image/svg+xml,%0A%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='43' height='43' stroke='white'/%3E%3Cpath d='M27.5097 10.005L24.3929 10C20.8909 10 18.6271 12.3171 18.6271 15.9076V18.6317H15.4903C15.2201 18.6292 15 18.8489 15 19.1186V23.0637C15 23.3333 15.2201 23.5531 15.4903 23.5531H18.6246V33.5106C18.6246 33.7803 18.8447 34 19.1149 34H23.2047C23.4749 34 23.695 33.7803 23.695 33.5106V23.5556H27.3596C27.6298 23.5556 27.8499 23.3358 27.8499 23.0662L27.8524 19.1211C27.8524 18.9913 27.7999 18.8664 27.7098 18.774C27.6198 18.6816 27.4922 18.6292 27.3621 18.6292H23.695V16.3196C23.695 15.211 23.9602 14.6467 25.4085 14.6467H27.5097C27.7799 14.6467 28 14.427 28 14.1573V10.4944C28 10.2247 27.7799 10.005 27.5097 10.005Z' fill='white'/%3E%3C/svg%3E%0A");
       background-position: center;
       background-repeat: no-repeat;
       transform: translate(-50%, -50%);
       transition: all .3s;
      }
      &:hover{
        &:after{
          opacity: .5;
        }
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    background: #F1F6FC;
    z-index: -1;
  }
}

.work-with-us {
  background: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span:first-of-type {
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
    margin-bottom: 30px;
  }

  .work-with-us-cards {
    display: flex;

    .card {
      padding: 30px;
      min-width: 250px;
      margin: 15px;
      mix-blend-mode: normal;
      //border-radius: 10px;
      border: none;
      color: #000;
      text-decoration: none;

      svg {
        margin-bottom: 30px;
      }

      span {
        &:first-of-type {
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 10px;
        }
      }
      &:hover{
        opacity: .7;
      }
    }
  }
}

a{
  color: #000;

  &:hover {
    color: #00000099;
    text-decoration: unset;
  }
}
button:focus{
  outline: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}


/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
  background: #fff;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before{
  background: #fff;
}


.hideInput{
  display: none;
}


.loader{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: all .5s;
  
  &.loaded {
    opacity: 0;
    pointer-events: none;
  }
  
  .center{
    display: flex;
    justify-content: center;
  }

  .container {
    position: relative;
    height: 100vh;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &.back-center{
      opacity: .3;
    }
  }
  .logo {
    fill: #0B486B;
  }
  .logo-back {
    fill: rgba( #0B486B, .08 )
  }
  .clip {
    animation: slide 5s infinite;
  }
  @keyframes slide {
    0% {
      transform: translateY(-170px);
    }
    50% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(-170px);
    }
  }
}